@import url("fonts.css");

/*Fuentes*/
body {
  font-family: "GT America", "Helvetica Neue", Helvetica, Arial, Verdana, Sans-serif !important;
}
.banner-center h2,
.banner-center h1,
.input input,
.naranjo-claro-arde-bg  {
 font-family: "GT America Mono", SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

/*Generalidades*/
a {
	border: 0;
}
*:focus {
    outline: none;
}
::placeholder {color: white;}
:-ms-input-placeholder {color: white;}
::-ms-input-placeholder {color: white;}

/*Cabecera*/
header[role="banner"] {
	background-color: #f44d11;
	background: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ), url('../images/fondo-arde-v2.jpg');
	height: 100vh;
	max-height: 760px;
	min-height: 680px;
	border: 0 !important;
}
.banner-top	{
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 1140px;
	margin: auto;
	padding: 2.5rem;
	padding-right: 15px;
	padding-left: 15px;
}
.banner-top ul {
	display: flex;
	list-style: none;
	margin: 0;
}
.banner-top ul a {
	border: 0;
	color: white;
	padding-right: .5rem;
  padding-left: .5rem;
  text-transform: lowercase;
}
.banner-top .navegacion a {
	font-size: 18px;
	display: block;
}
.banner-top .logouno img {
	width: 120px;
}
.banner-top .logouno a {
	padding-top: .3125rem;
  padding-bottom: .3125rem;
  display: inline-block;
}

/*banner centro*/
.banner-center {
	text-align: center;
	padding-top: 1.5rem;
}
.logodos img {
	width: 131px;
}
.banner-center h1 {
	text-transform: uppercase;
	padding-top: 2.3rem!important;
	letter-spacing: .05em;
	margin-bottom: 9px;
}
.banner-center h2, 
.banner-center h1 a {
	color: white;
	border: 0;
}

/*Buscador*/
.input button {
	background-color: transparent !important;
}
.input {
	display: flex;
	justify-content: space-between;
	border: 2px solid white;
	border-radius: 30px;
	align-items: center;
	padding: 10px;
}
.input input:focus {
	outline: none;
}
.input input {
    border: 0;
    background: transparent !important;
    padding: 20px;
    width: 100%;
}
.input i.fa.fa-search {
    font-size: 25px;
}
.buscador {
    text-align: left;
    width: 450px;
    margin: auto;
    padding-top:30px;
}
.buscador p {
    color: white;
}




/*footer*/
	
.naranjo-claro-arde-bg {
    background-color: #ffeee8;
    clear: both;
}
.naranjo-arde {
    color: #f44d11;
}
.footer-text {
    width: 777px;
    margin: auto;
    font-size: 18px;
    margin-top: 3em;
    margin-bottom: 3em;
}
.footer-text p {
    line-height: 27px;
}
.footer-arde {
    background-color: #3f3f3f;
}