@import url("fonts.css");

/*Fuentes*/
body {
  font-family: "GT America", "Helvetica Neue", Helvetica, Arial, Verdana, Sans-serif !important;
  color: #3f3f3f;
}
.banner-center h2,
.banner-center h1,
.input input,
.naranjo-claro-arde-bg,
.titulo {
 font-family: "GT America Mono", SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

/*Generalidades*/
a {border: 0;}
section {padding: 30px;}
*:focus {outline: none;}
::placeholder {color: white;}
:-ms-input-placeholder {color: white;}
::-ms-input-placeholder {color: white;}
.titulo {
	font-size: 1.625em;
	text-underline-position: under;
	text-underline-offset: 10px;
	text-decoration: underline;
	margin: 20px 0 60px 0;
	text-transform: uppercase;
}

/*Cabecera*/
header[role="banner"] {
	background-color: #f44d11;
	background: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ), url('../images/fondo-arde-v2.jpg');
	height: 100vh;
	max-height: 760px;
	min-height: 680px;
	border: 0 !important;
}
.banner-top	{
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 1140px;
	margin: auto;
	padding: 2.5rem;
	padding-right: 15px;
	padding-left: 15px;
}
.banner-top ul {
	display: flex;
	list-style: none;
	margin: 0;
}
.banner-top ul a {
	border: 0;
	color: white;
	padding-right: .5rem;
  padding-left: .5rem;
  text-transform: lowercase;
}
.banner-top .navegacion a {
	font-size: 18px;
	display: block;
}
.banner-top .logouno img {
	width: 120px;
}
.banner-top .logouno a {
	padding-top: .3125rem;
  padding-bottom: .3125rem;
  display: inline-block;
}

/*banner centro*/
.banner-center {
	text-align: center;
	padding-top: 1.5rem;
}
.logodos img {
	width: 131px;
}
.banner-center h1 {
	text-transform: uppercase;
	padding-top: 2.3rem!important;
	letter-spacing: .05em;
	margin-bottom: 9px;
}
.banner-center h2, 
.banner-center h1 a {
	color: white;
	border: 0;
}

/*Buscador*/
.input button {
	background-color: transparent !important;
}
.input {
	display: flex;
	justify-content: space-between;
	border: 2px solid white;
	border-radius: 30px;
	align-items: center;
	padding: 10px;
}
.input input:focus {
	outline: none;
}
.input input {
    border: 0;
    background: transparent !important;
    padding: 20px;
    width: 86%;
}
.input i.fa.fa-search {
    font-size: 25px;
}
.buscador {
    text-align: left;
    width: 450px;
    margin: auto;
    padding-top:30px;
}
.buscador p {
    color: white;
}
.buscador form {
	width: 100%;
}

/*Seccion etiquetas*/
#etiquetas {
	background-color: #f7f7f7;
	clear: both;
	text-align: center;
	padding-top: 30px;
}
#etiquetas .etiquetas-home {
	width: 1000px;
	margin: auto;
}
#etiquetas .etiquetas-home .v-popular{
	font-size: 100% !important;
}
#etiquetas .popularity {
	display: flex;
	list-style: none;
	justify-content: center;
	flex-wrap: wrap;
}
#etiquetas .popularity a {
	display: inline-block;
	margin: 10px;
	border: 2px solid black;
	padding: 10px 20px;
	text-transform: capitalize;
	border-radius: 30px;
}


/*footer*/
.naranjo-claro-arde-bg {
    background-color: #ffeee8;
    clear: both;
}
.justify-content-center {
	text-align: center;
	padding: 30px 0;
}
.text-md-left {
    text-align: left!important;
}
.col-md-10 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 83.33333%;
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
}
.text-light {
    color: #f8f9fa!important;
}
.text-uppercase {
    text-transform: uppercase!important;
}
.naranjo-claro-arde-bg .row {
	margin-bottom: 0;
}
.naranjo-arde {
    color: #f44d11;
}
.footer-text {
    width: 777px;
    margin: auto;
    font-size: 18px;
    margin-top: 3em;
    margin-bottom: 3em;
}
.footer-text p {
    line-height: 27px;
}
.footer-arde {
    background-color: #3f3f3f;
    clear: both;
}


/*documento destacad*/
.documento-destacado {
    width: 1140px;
    margin: auto;
    text-align: center;
}
.documento-destacado a.image {
	float: none;
	margin: 0;
	width: 100%;
}
.documento-destacado a.image img {
	border: 0;
	padding: 0;
	width: 100%;
	pointer-events: none;
	height: 400px;
	object-fit: cover;
}
.documento-destacado .item.record {
	display: flex;
	flex-wrap: wrap;
	height: 400px;
}
.documento-destacado > a {order: 1;}
.documento-destacado h3 {order: 2;padding: 0 47px;height: 0;align-self: center;}
.documento-destacado h3 a {color: white;}
.documento-destacado p {order: 3;padding: 0 50px 0 50px;margin: 0;text-align: left;color: white;display: flex;align-items: center;background: #00000099;width: 100%;}



/*Exposiciones*/
#exposiciones .exhibit {
	display: none;
}
#exposiciones .exhibit:nth-child(1),
#exposiciones .exhibit:nth-child(2),
#exposiciones .exhibit:nth-child(3) {
	display: flex !important;
	flex-wrap: wrap;
	width: 30%;
}
#exposiciones .exposiciones-home {
	    width: 1140px;
    margin: auto;
    text-align: center;
}
.exposiciones {
    display: flex;
    justify-content: space-evenly;
}
.exposiciones a.image {
	float: none;
	margin: 0;
	width: 100%;
	height: 200px;
}
.exposiciones a.image img {
	border: 0;
	padding: 0;
	width: 100%;
	pointer-events: none;
	object-fit: cover;
	height: 200px;
}
.exposiciones .exhibit .image {
	box-shadow: none;
}
.exposiciones .exhibit a.image {order: 1;}
.exposiciones .exhibit h3 {
	order: 2;
	margin: 10px 0 0 0;
}
.exposiciones .exhibit h3 a {
	color: #3f3f3f;
}
.exposiciones .exhibit p {order: 3;margin: 0;text-align: left;}

.text-right {
	margin-top: 60px;
    text-align: right!important;
}
.ir-a-seccion a {
    border: 2px solid grey;
    border-radius: 20px;
    padding: 7px 15px;
    color: grey !important;
}


/*colecciones*/
#colecciones {
	background-color: #151515;
}
#colecciones .titulo {
	color: white;
}
#colecciones .ir-a-seccion a {
	color: white !important;
	border-color: white;
}
#colecciones .colecciones-home {
	width: 1140px;
    margin: auto;
    text-align: center;
}
#colecciones .collection {
	display: flex !important;
	flex-wrap: wrap;
	width: 30%;
}
.colecciones {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.colecciones a.image {
	float: none;
	margin: 0;
	width: 100%;
	height: 200px;
}
.colecciones a.image img {
	border: 0;
	padding: 0;
	width: 100%;
	pointer-events: none;
	object-fit: cover;
	height: 200px;
}
.collection .view-items-link {
	display: none;
}
.colecciones .collection a.image {order: 1;}
.colecciones .collection h3 {
	order: 2;
	margin: 10px 0 0 0;
}
.colecciones .collection h3 a {
	color: white;
}
.colecciones .collection .collection-description {
	order: 3;
	margin: 0;
	text-align: left;
	color: white;
}
.collection {
	margin-bottom: 40px;
}
